body , html {
    background-color: #fff;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-image: linear-gradient(gray, transparent);
}

.logo a {
    color: rgb(229,9,20);
    text-decoration: none;
}

.navLinks {
    padding-left: 30px;
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
}

.navLinks li a {
    transition: all 0.2s ease-in;
}

.navLinks a{
    color: rgb(238,225,221);
    text-decoration: none;
    display:inline-block;
    padding: 0px;
}


.navLinks li a:hover{
    cursor:pointer;
    color: #564d4d;
    transition: .2s ease-in;
    display: flex;
}



