body , html {
    background-color: rgb(20,20,20);
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
      to bottom, transparent, #837960
    ), url("/images/210228.webp");
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom, gray, transparent);
    position: fixed;
}

.logo a {
    color: rgb(229,9,20);
    text-decoration: none;
}

.navLinks {
    padding-left: 30px;
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
}

.navLinks li a {
    transition: all 0.2s ease-in;
}

.navLinks a{
    color: rgb(238,225,221);
    text-decoration: none;
    display:inline-block;
    padding: 0px;
}


.navLinks li a:hover{
    cursor:pointer;
    color: #564d4d;
    transition: .2s ease-in;
    display: flex;
}

//landing main

// #landing {
//     height: 60vh;
//     //background-image: url(/images/210228.webp);
//     background-size:cover;
//     display: flex;
//     justify-content: left;
//     text-align: left;
//     background-repeat: no-repeat;
//     padding-bottom: 40px;      
// }

// landing buttons

.landingBtns {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 400px;
    text-decoration: none;
}

.btn {
    background: white;
    border: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
    border-radius: 5px;
    
}

.moreBtn {
    background: grey;
    border: none;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
    border-radius: 5px;
    opacity: 75%;
}

#playBtn {
    border-radius:  2px;
    margin-right: 25px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: left;
    border: white;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-style: bold;
}

#moreInfo {
    border-radius:  2px;
    margin-right: 25px;
    font-size: 1.3em;
    color:aliceblue;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

//SECTION Shows

.container {
    display: flex;
    margin-top: 50px;
  }
  
  .item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
  }
  
  .container:focus-within .item,
  .container:hover .item {
    transform: translateX(-25%);
  }
  
  .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  
  .container .item:focus,
  .container .item:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  
  body {
    overflow: hidden;
  }
  
  .item img {
    display: block;
    max-width: 100%;
  }

  


